<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <title>Electron App</title>
  </head>
  <body>
    <h1>Hello World Render Electron</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium quae reprehenderit neque ratione beatae voluptatum molestiae possimus rem fuga voluptate illum voluptatem corporis consequuntur, consequatur dolore ducimus accusamus ea recusandae!</p>
  </body>
</html>